---

- name: "PRELIM | Register if snap being used"
  when: debian11cis_rule_1_1_1_2
  tags:
      - rule_1.1.1.2
      - always
  ansible.builtin.shell: df -h | grep -wc "/snap"
  changed_when: false
  failed_when: snap_pkg_mgr.rc not in [ 0, 1 ]
  register: snap_pkg_mgr

- name: "PRELIM | Register if squashfs is built into the kernel"
  when: debian11cis_rule_1_1_1_2
  tags:
      - rule_1.1.1.2
      - always
  ansible.builtin.shell: cat /lib/modules/$(uname -r)/modules.builtin | grep  -c "squashfs"
  changed_when: false
  failed_when: squashfs_builtin.rc not in [ 0, 1 ]
  register: squashfs_builtin

- name: "PRELIM | Section 1.1 | Create list of mount points"
  tags: always
  ansible.builtin.set_fact:
      mount_names: "{{ ansible_facts.mounts | map(attribute='mount') | list }}"

- name: PRELIM | Capture tmp mount type | discover mount tmp type
  when:
      - "'/tmp' in mount_names"
      - debian11cis_rule_1_1_2_1 or
        debian11cis_rule_1_1_2_2 or
        debian11cis_rule_1_1_2_3 or
        debian11cis_rule_1_1_2_4
  tags: always
  block:
      - name: PRELIM | Capture tmp mount type | discover mount tmp type
        ansible.builtin.shell: systemctl is-enabled tmp.mount
        register: discover_tmp_mnt_type
        changed_when: false
        failed_when: discover_tmp_mnt_type.rc not in [ 0, 1 ]

      - name: PRELIM | Capture tmp mount type | Set to expected_tmp_mnt variable
        ansible.builtin.set_fact:
            tmp_mnt_type: "{{ expected_tmp_mnt }}"
        when: "'generated' in discover_tmp_mnt_type.stdout"

      - name: PRELIM | Capture tmp mount type | Set systemd service
        ansible.builtin.set_fact:
            tmp_mnt_type: tmp_systemd
        when: "'generated' not in discover_tmp_mnt_type.stdout"

- name: "PRELIM | Run apt update"
  when: debian11cis_rule_1_3_1 or debian11cis_rule_1_9
  tags: always
  ansible.builtin.package:
      update_cache: true

- name: "PRELIM | Check for autofs service"
  when: debian11cis_rule_1_1_9
  tags:
      - skip_ansible_lint
      - section1
      - always
  ansible.builtin.shell: "systemctl show autofs | grep LoadState | cut -d = -f 2"
  register: debian11cis_autofs_service_status
  changed_when: false
  check_mode: false

- name: "PRELIM | Check for avahi-daemon service"
  when: debian11cis_rule_2_2_2
  tags:
      - skip_ansible_lint
      - always
  ansible.builtin.shell: "systemctl show avahi-daemon | grep LoadState | cut -d = -f 2"
  register: avahi_service_status
  changed_when: false
  check_mode: false

- name: "PRELIM | Install Network-Manager"
  when:
      - debian11cis_rule_3_1_2
      - debian11cis_install_network_manager
      - not debian11cis_system_is_container
      - "'network-manager' not in ansible_facts.packages"
  tags: always
  ansible.builtin.package:
      name: network-manager
      state: present

- name: "PRELIM | PATCH | Ensure auditd is installed"
  when:
      - debian11cis_rule_4_1_1_1
      - debian11cis_rule_4_1_4_5 or
        debian11cis_rule_4_1_4_6 or
        debian11cis_rule_4_1_4_7
  tags:
      - level2-server
      - level2-workstation
      - patch
      - auditd
      - always
  block:
      - name: "PRELIM | PATCH | Ensure auditd is installed"
        ansible.builtin.package:
            name: ['auditd', 'audispd-plugins']
            state: present
        when:
            - "'auditd' not in ansible_facts.packages or
              'auditd-plugins' not in ansible_facts.packages"

      - name: "PRELIM | 4.1.4.5 | Audit conf and rules files | list files"
        ansible.builtin.find:
            path: /etc/audit/
            file_type: file
            recurse: true
            patterns: '*.conf,*.rules'
        register: auditd_conf_files

- name: "PRELIM | Check if auditd is immutable before changes"
  when: "'auditd' in ansible_facts.packages"
  tags: always
  ansible.builtin.shell: auditctl -l | grep -c '-e 2'
  changed_when: false
  failed_when: auditd_immutable_check.rc not in [ 0, 1 ]
  register: auditd_immutable_check

- name: "PRELIM | 5.3.4 | 5.3.5 | Find all sudoers files."
  when: debian11cis_rule_5_3_4 or debian11cis_rule_5_3_5
  tags: always
  ansible.builtin.shell: "find /etc/sudoers /etc/sudoers.d/ -type f ! -name '*~' ! -name '*.*'"
  changed_when: false
  failed_when: false
  check_mode: false
  register: debian11cis_sudoers_files

- name: "PRELIM | Discover Interactive UID MIN and MIN from logins.def"
  when: not discover_int_uid
  tags: always
  block:
      - name: "PRELIM | Capture UID_MIN information from logins.def"
        ansible.builtin.shell: grep -w "^UID_MIN" /etc/login.defs | awk '{print $NF}'
        changed_when: false
        register: uid_min_id

      - name: "PRELIM | Capture UID_MAX information from logins.def"
        ansible.builtin.shell: grep -w "^UID_MAX" /etc/login.defs | awk '{print $NF}'
        changed_when: false
        register: uid_max_id

      - name: "PRELIM | Capture GID_MIN information from logins.def"
        ansible.builtin.shell: grep -w "^GID_MIN" /etc/login.defs | awk '{print $NF}'
        changed_when: false
        register: gid_min_id

      - name: "PRELIM | Set facts for interactive uid/gid"
        ansible.builtin.set_fact:
            min_int_uid: "{{ uid_min_id.stdout }}"
            max_int_uid: "{{ uid_max_id.stdout }}"
            min_int_gid: "{{ gid_min_id.stdout }}"

- name: "PRELIM | Interactive User accounts"
  when:
      - debian11cis_rule_6_2_11 or
        debian11cis_rule_6_2_13 or
        debian11cis_rule_6_2_14 or
        debian11cis_rule_6_2_15 or
        debian11cis_rule_6_2_16
  tags: always
  ansible.builtin.shell: 'cat /etc/passwd | grep -Ev "nologin|/sbin|/bin" | cut -d: -f6'
  changed_when: false
  register: interactive_users_home

- name: "PRELIM | Install ACL"
  when:
      - debian11cis_rule_6_2_6
      - "'acl' not in ansible_facts.packages"
  tags: always
  ansible.builtin.package:
      name: acl
      state: present

- name: "PRELIM | Gather UID 0 accounts other than root"
  when: debian11cis_rule_6_2_10
  tags:
      - rule_6.2.10
      - level1-server
      - level1-workstation
      - users
      - always
  ansible.builtin.shell: "cat /etc/passwd | awk -F: '($3 == 0 && $1 != \"root\") {i++;print $1 } END {exit i}'"
  changed_when: false
  check_mode: false
  register: debian11cis_uid_zero_accounts_except_root

- name: "PRELIM | List users accounts"
  when:
      - debian11cis_rule_6_2_14 or
        debian11cis_rule_6_2_15 or
        debian11cis_rule_6_2_16
  tags: always
  ansible.builtin.shell: "awk -F: '{print $1}' /etc/passwd"
  changed_when: false
  check_mode: false
  register: debian11cis_users

- name: "Optional | Patch | UFW firewall force to use /etc/sysctl.conf settings"
  when:
      - debian11cis_firewall_package == "ufw"
      - debian11cis_ufw_use_sysctl
  tags: always
  ansible.builtin.lineinfile:
      path: /etc/default/ufw
      regexp: ^IPT_SYSCTL=.*
      line: IPT_SYSCTL=/etc/sysctl.conf
      create: true
      mode: 'u-x,g-wx,o-rwx'
      owner: root
      group: root
