## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by Mindpoint Group - A Tyto Athene Company

{% for server in deb11cis_time_servers %}
server {{ server.name }} {{ server.options }}
{% endfor %}
