{{ file_managed_by_ansible }}

Name: pwhistory password history checking
Default: yes
Priority: 1024
Password-Type: Primary
Password:
        requisite                       pam_pwhistory.so enforce_for_root try_first_pass{% if deb11cis_rule_5_3_3_3_1 %} remember={{ deb11cis_pamd_pwhistory_remember }}{% endif %}{% if deb11cis_rule_5_3_3_3_2 %} enforce_for_root{% endif %}{% if deb11cis_rule_5_3_3_3_3 %} use_authtok{% endif %}
