## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by Mindpoint Group - A Tyto Athene Company

cat <<EOF
set superusers="{{ deb11cis_grub_user }}"
password_pbkdf2 {{ deb11cis_grub_user }} {{ deb11cis_bootloader_password_hash }}
EOF
